- You MUST have sudo permissions in order to run this tool.
- You MUST have python3 or a newer version installed.
- ping3 MUST be installed in order to run this tool.
    (command: pip3 install ping3 OR pip install ping3).
